button {
    color: #4CAF50;
    background-color: transparent;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 8px;
    margin: 4px;
}

button:hover {
    background-color:#4CAF50;
    color: aliceblue;    
    border: 2px solid aliceblue;
}

.dashboard__div {
    text-align: center;
}
.dashboard__flex {
    display: flex;
    justify-content: center;
    align-items: center;
}