.nav {
    background-color: black;
    padding: 8px;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    letter-spacing: .8px;
    cursor: pointer;
    height: 6vh;
}
.log-out {
    float: right;
    color: whitesmoke;
    margin-top: 4px;
}